# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio Code
.vscode/

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUGET packages
*.nupkg
*.snupkg
packages/
*.nuget.props
*.nuget.targets

# Entity Framework
*.mdf
*.ldf

# Others
*.db
*.sqlite
*.bak
*.log
*.cache
*.tmp

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# Rider
.idea/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac
.DS_Store
